# Gradle
local.properties
user.properties
gradle.properties
.gradle
build

# IntelliJ
*.iml
.idea
gen

# Misc
.DS_Store
strings_configuration.xml
libs/
ui/src/test/java/android/
google-services.json
captures
