<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.shift.link.sdk.ui"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="24"
            tools:overrideLibrary="br.tiagohm.markdownview"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:label="ShiftUi"
            tools:replace="label" />

</manifest>
