<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="us.ledge.line.sdk.example"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="23" />

    <application
            android:label="@string/app_name"
            tools:replace="android:label"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name="us.ledge.line.sdk.example.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:name="us.ledge.line.sdk.sdk.activities.userdata.IdentityVerificationActivity"
                android:parentActivityName="us.ledge.line.sdk.example.activities.MainActivity"
                android:theme="@style/Theme.LedgeLine.Example">

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="us.ledge.line.sdk.example.activities.MainActivity" />
        </activity>

        <activity
                android:name="us.ledge.line.sdk.sdk.activities.userdata.PersonalInformationActivity"
                android:parentActivityName="us.ledge.line.sdk.example.activities.MainActivity"
                android:theme="@style/Theme.LedgeLine.Example">

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="us.ledge.line.sdk.example.activities.MainActivity" />
        </activity>

        <activity
                android:name="us.ledge.line.sdk.sdk.activities.userdata.AddressActivity"
                android:parentActivityName="us.ledge.line.sdk.example.activities.MainActivity"
                android:theme="@style/Theme.LedgeLine.Example">

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="us.ledge.line.sdk.example.activities.MainActivity" />
        </activity>

        <activity
                android:name="us.ledge.line.sdk.sdk.activities.userdata.LoanAmountActivity"
                android:parentActivityName="us.ledge.line.sdk.example.activities.MainActivity"
                android:theme="@style/Theme.LedgeLine.Example">

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="us.ledge.line.sdk.example.activities.MainActivity" />
        </activity>

    </application>
</manifest>
