<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="me.ledge.link.sdk.example"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="24"
            tools:overrideLibrary="br.tiagohm.markdownview"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:label="@string/app_name"
            tools:replace="label"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="io.branch.referral.BranchApp">

        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_fctvserZdDqDxjjbCA0fnajgstdai1vp" />

        <activity android:name="me.ledge.link.sdk.example.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="ledgesdkdemolocal" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name="me.ledge.link.sdk.example.activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.ledge.link.sdk.example.activities.MainActivity" />
        </activity>

        <activity
            android:name="me.ledge.link.sdk.ui.activities.link.WelcomeActivity"
            android:theme="@style/Theme.LedgeLine.Example">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.ledge.link.sdk.example.activities.MainActivity" />
        </activity>

        <activity
                android:name="me.ledge.link.sdk.ui.activities.link.LoanAmountActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.userdata.PhoneActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.verification.BirthdateVerificationActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.userdata.PersonalInformationActivity"
                android:windowSoftInputMode="adjustPan"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.userdata.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.userdata.AddressActivity"
                android:windowSoftInputMode="adjustPan"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.userdata.TimeAtAddressActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.userdata.AnnualIncomeActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.userdata.MonthlyIncomeActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.userdata.IdentityVerificationActivity"
                android:windowSoftInputMode="adjustPan"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.userdata.CreditScoreActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.userdata.PaydayLoanActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.userdata.ArmedForcesActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.offers.OffersListActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.loanapplication.IntermediateLoanApplicationActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.loanapplication.LoanAgreementActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.loanapplication.LoanApplicationSummaryActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.loanapplication.AddDocumentsListActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.verification.PhoneVerificationActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.verification.EmailVerificationActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
                android:name="me.ledge.link.sdk.ui.activities.loanapplication.LoanApplicationsListActivity"
                android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.financialaccountselector.AddFinancialAccountListActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.financialaccountselector.AddCardActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation" />

        <activity android:name="io.card.payment.DataEntryActivity" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.financialaccountselector.AddBankAccountActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.financialaccountselector.SelectFinancialAccountListActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.financialaccountselector.IntermediateFinancialAccountListActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.financialaccountselector.EnableAutoPayActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

        <activity
            android:name="me.ledge.link.sdk.ui.activities.DisclaimerActivity"
            android:theme="@style/Theme.LedgeLine.Example" />

    </application>
</manifest>
